<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Thunderbird Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>Database</directory>
            <directory>Repository</directory>
            <directory>Service</directory>
        </include>
    </source>
</phpunit>
